.Form {
  border: none;
  border-bottom: 2px #00d1ff solid;
  margin-bottom: 1rem;
}

.Button {
  border: none;
  position: relative;
  background-color: #242a3d;
  color: aliceblue;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: auto;
  left: 40%;
}

.Button:hover {
  cursor: pointer;
  background-color: aliceblue;
  color: #242a3d;
}
